<html>
<head>
    <title>Django Girls Blog</title>
</head>
<body>
<div>
    <h1><a href="/">Django Girls Blog</a> </h1>
</div>

<div>
    <p>published:26.07.2019, 10:12 </p>
    <h2><a href="">My First Post</a> </h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscin
        g elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>

<div>
    <p>published:27.07.2019,11:59</p>
    <h2><a href="">My Second Post</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Non enim praesent elementum facilisis leo vel
        fringilla est. Eleifend donec pretium vulputate sapien.
        Facilisis magna etiam tempor orci eu. Velit egestas dui id ornare
        arcu odio. Eu non diam phasellus vestibulum lorem sed risus ultricies
        tristique. In hac habitasse platea dictumst quisque sagittis purus.
        Commodo nulla facilisi nullam vehicula. Massa id neque aliquam vestibulum
        morbi blandit cursus. Convallis tellus id interdum velit laoreet
        id donec ultrices. Vitae suscipit tellus mauris a diam.
        Ante metus dictum at tempor commodo ullamcorper a lacus.
        Consequat interdum varius sit amet mattis vulputate.
        Egestas sed tempus urna et pharetra pharetra. Ultricies leo
        integer malesuada nunc vel. Tellus at urna condimentum mattis
        pellentesque id nibh tortor id. Feugiat sed lectus vestibulum
        mattis ullamcorper velit sed. At urna condimentum mattis pellentesque id.
        Enim diam vulputate ut pharetra sit amet aliquam id. Laoreet non
        curabitur gravida arcu ac tortor dignissim convallis. </p>
</div>
</body>
</html>